{% import '@macros/section.twig' as section %}

{% set partials = [
    'breakpoints',
    'colors',
    'macro-imports',
    'links-button',
    'links-text',
    'checkboxes',
    'labels',
    'animations',
    'text-samples',
    'headers',
] %}

{# Demos #}
{% for partial in partials %}
    <div id="{{ partial }}">
        {% include '@partials/' ~ partial ~ '.twig' with { gray_background: loop.index0 % 2 == 0,  first: loop.first,  last: loop.last } %}
    </div>
{% endfor %}

<div x-data="{ showToc: false }" class="fixed bottom-4 right-4 md:bottom-8 md:right-8 lg:bottom-12 lg:right-12 flex flex-col items-end gap-4">
    {# Table of contents #}
    <div class="h-16 w-28 hover:h-full hover:w-fit 2xl:h-full 2xl:w-fit overflow-y-clip flex flex-col bg-white opacity-10 hover:opacity-100 2xl:opacity-50 transition-opacity text-sm font-mono border border-black rounded-md">
        {% set common_classes = 'py-4 px-4 first:pt-6 last:pb-6 first:rounded-t-md last:rounded-b-md' %}
        <div class="text-center border-b {{ common_classes }}">TOC</div>
        {% for partial in partials %}
            <a href="#{{ partial }}" class="hover:bg-gray-100 {{ common_classes }}">{{ partial }}</a>
        {% endfor %}
    </div>

    {# Breakpoint indicator #}
    <div inert class="w-fit bg-white opacity-50 flex flex-col items-center gap-2 p-4 md:p-6 lg:p-8 font-mono border border-black rounded-md">
        <div class="text-xs lg:text-sm">size:</div>
        <div class="h-0 w-8 md:w-10 lg:w-12 opacity-50 border-t border-black"></div>
        <div class="text-xl md:text-2xl lg:text-4xl">
            <span class="sm:hidden">XS</span>
            <span class="hidden sm:max-md:inline">SM</span>
            <span class="hidden md:max-lg:inline">MD</span>
            <span class="hidden lg:max-xl:inline">LG</span>
            <span class="hidden xl:inline">XL</span>
        </div>
    </div>
</div>
