{# "Global" macros for production code #}

{% macro checkbox(label = '', checked = false, name = '', value = '', id = '') %}
    <div class="flex items-center gap-2.5">
        <input class="text-blue-400 p-2 border-2 border-gray-300" type="checkbox" id="{{ id }}" name="{{ name }}" value="{{ value }}" {{ checked ? 'checked' }}/>
        <label for="{{ id }}" class="relative top-0.5">{{ label }}</label>
    </div>
{% endmacro %}

{% macro label(text = '') %}
    <div class="bg-green-500 h-fit w-fit py-1.5 px-5 rounded-5 text-impact">{{ text }}</div>
{% endmacro %}

{% macro label_news(text = '') %}
    <div class="bg-green-500 h-fit w-fit py-2 px-13 font-bold">{{ text }}</div>
{% endmacro %}

{% macro link_block(address = '', text = '', arrow = 'r') %}
    <div>
        <a href="{{ address }}" class="flex items-end gap-3 text-black font-bold underline underline-offset-10 decoration-2 decoration-blue-800">
            {% if arrow == 'l' %}
            {{ _self.chevron_icon('l') }}
            {% endif %}

            <span>{{ text }}</span>

            {% if arrow == 'r' %}
            {{ _self.chevron_icon('r') }}
            {% endif %}
        </a>
    </div>
{% endmacro %}

{% macro link_inline(address = '', text = '', new_tab = false) %}
    <a
        href="{{ address }}"
        class="inline-flex items-center gap-0.5 text-blue-800 stroke-blue-800 underline"
        {{ new_tab ? 'target="_blank"' }}
    >
        <span>{{ text }}</span>
        {% if new_tab %}
            {% include '@globalPartials/link-icon.twig' with { class: 'relative bottom-0.5 scale-75' } only %}
        {% endif %}
    </a>
{% endmacro %}

{% macro link_button(address = '', text = '', size = 's', wide = false, primary = true, new_tab = false) %}
    {% set background = primary ? 'bg-blue-400 hover:bg-blue-950' : 'bg-cyan-50 hover:bg-blue-400' %}

    {% set padding = '' %}
    {% set text_size = '' %}
    {% set font_weight = '' %}
    {% set icon_gap = '' %}
    {% set icon_position = '' %}
    {% set icon_scale = '' %}
    {% set width = wide ? 'w-full' : 'w-fit' %}

    {% if size == 's' %}
        {% set padding = wide ? 'py-3.75 px-10' : 'py-4.5 px-10' %}
        {% set text_size = wide ? 'text-xl leading-match' : 'text-sm leading-tight' %}
        {% set font_weight = 'font-bold' %}
        {% set icon_gap = 'gap-2' %}
        {% set icon_position = 'relative bottom-0.5' %}
        {% set icon_scale = '' %}
    {% elseif size == 'm' %}
        {% set padding = wide ? 'py-4.5 px-15' : 'py-4 px-15' %}
        {% set text_size = wide ? 'text-xl leading-match' : 'text-xl leading-tight' %}
        {% set font_weight = wide ? 'font-bold' : 'font-semibold' %}
        {% set icon_gap = 'gap-3' %}
        {% set icon_position = 'relative bottom-0.5' %}
        {% set icon_scale = 'scale-125' %}
    {% elseif size == 'l' %}
        {% set padding = wide ? 'py-7.5 px-15' : 'py-5 px-15' %}
        {% set text_size = 'text-6xl leading-tight' %}
        {% set font_weight = 'font-semibold' %}
        {% set icon_gap = 'gap-8' %}
        {% set icon_position = 'relative bottom-1' %}
        {% set icon_scale = 'scale-250' %}
    {% endif %}

    {% set code_for_copying = "{{ link_button(\'address\', \'Label\', \'" ~ size ~ "\', " ~ wide ~ ", " ~ primary ~ ", " ~ new_tab ~ ") }}" %}

    <a x-data @click="() => navigator.clipboard.writeText(`{{ code_for_copying }}`)"
        {# TODO: Uncomment the following line for the production code (leaving it commented for now allows the link-buttons to be clicked for copying their usage code) #}
        {# href="{{ address }}" #}
        {{ new_tab ? 'target="_blank"' }}
        class="flex justify-center items-center rounded-full tracking-wider text-blue-950 hover:text-white stroke-blue-950 hover:stroke-white transition-colors duration-250 ease-out {{ width }} {{ background }} {{ padding }} {{ rounding }} {{ text_size }} {{ text_color }} {{ font_weight }} {{ icon_gap }} {{ width }}"
    >
        <span>{{ text }}</span>
        {% if new_tab %}
            {% include '@globalPartials/link-icon.twig' with { class: icon_position ~ ' ' ~ icon_scale } only %}
        {% endif %}
    </a>
{% endmacro %}

{% macro chevron_icon(direction, size = 's') %}
    <span class="bg-cyan-50 h-fit p-1.25 rounded-full">
        {% if direction == 'l' %}
            {% include '@globalPartials/chevron-left-small.twig' with { alt_text: '' } only %}
        {% elseif direction == 'r' %}
            {% include '@globalPartials/chevron-right-small.twig' with { alt_text: '' } only %}
        {% endif %}
    </span>
{% endmacro %}
