{# "Local" macros for production code #}

{% macro hero_1(title = '', subtitle = '', label = '', alt_text = '') %}
    <div class="lg:h-116 lg:max-h-116 lg:grid lg:grid-cols-2">
        <div class="bg-blue-950 min-h-60 md:min-h-72 py-12 px-6.5 md:px-14 lg:py-29 lg:px-12 xl:px-0 xl:flex xl:justify-end">
            <div class="max-lg:contents space-y-2.5 xl:space-y-3 xl:px-6 xl:max-w-content-container-limit-1/2">
                <div class="text-green-500 text-sm leading-normal font-bold tracking-wider uppercase">{{ label }}</div>
                <h1 class="text-white">{{ title }}</h1>
                <h3 class="hidden md:block text-white lg:pt-1.5">{{ subtitle }}</h3>
            </div>
        </div>
        <img class="max-lg:w-full lg:h-full lg:max-h-116 lg:w-full lg:object-cover lg:object-center" src="./assets/hero-1.jpeg" alt="{{ alt_text }}">
    </div>
{% endmacro %}

{% macro testimonial(quote = '', source_line_1 = '', source_line_2 = '') %}
    {# TODO: Implement responsive behavior according to @container width #}
    <div class="relative flex justify-center items-center h-86 bg-blue-800 pl-13 pr-16 md:pl-12 md:pr-16 lg:pl-16 lg:pr-21 overflow-hidden">
        <div class="relative z-10 pl-19">
            <div class="absolute -top-20 -left-4 text-super text-green-500">“</div>
            <div class="text-white text-xl lg:text-2xl font-bold">{{ quote }}</div>
        </div>
        <div class="absolute bottom-12 right-21 md:right-26 lg:right-48 flex flex-col text-blue-400 font-semibold leading-snug">
            <div>{{ source_line_1 }}</div>
            <div>{{ source_line_2 }}</div>
        </div>
    </div>
{% endmacro %}
