{# "Local" macros for production code #}
{% from '@macros/components-global.twig' import label, link_block, link_button %}

{% macro accordion(titles = []) %}
    <div x-data="{
        statuses: new Array( {{ titles|length }} ).fill(false),
        toggleSection(index) {
            this.statuses.forEach((status, i) => {
                if (i !== index) {
                    this.statuses[i] = false;
                }
            })
            this.statuses[index] = !this.statuses[index];
        }
    }"
        class="flex flex-col gap-2"
    >
        {% for title in titles %}
            <div class="bg-white border border-gray-250">
                <button @click="toggleSection({{ loop.index0 }})" class="flex justify-between items-center w-full py-6 pl-14 pr-9">
                    <h3>{{ title }}</h3>
                    <div class="bg-cyan-50 h-9 w-9 flex justify-center items-center rounded-full">
                        <div :class="statuses[{{ loop.index0 }}] ? '' : 'rotate-180'" class="transition-transform duration-300">
                            {% include '@icons/arrow-down.twig' with { class: 'fill-blue-950' } only %}
                        </div>
                    </div>
                </button>
                <div x-cloak x-collapse x-show="statuses[{{ loop.index0 }}]" class="py-3 px-14">
                    Content goes here
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro article_header(label_text = '', title = '', date_text = '', img_src = '', img_alt_text = '') %}
    <div class="max-w-screen-xl mx-auto flex flex-col items-center gap-6 md:gap-13.5">
        <div class="flex flex-col items-center px-content-container">
            {{ label(label_text) }}
            <h1 class="text-center mt-3.5 md:mt-5.5">{{ title }}</h1>
            <div class="flex items-center gap-5 mt-4 md:mt-5">
                {% include '@icons/calendar.twig' with { class: 'relative bottom-0.25' } only %}
                <div>{{ date_text }}</div>
            </div>
        </div>
        <img src="{{ img_src }}" alt="{{ img_alt_text }}">
    </div>
{% endmacro %}

{# TODO: Remove the `size` parameter, as this is just a work-around for this code which doesn't have access to the Tailwind `container-queries` plugin (it isn't available for use with the CDN) #}
{% macro card_slider(eyebrow = '', title = '', description = '', cta_url = '', cta_text = '', size = 's') %}

    {# padding #}
    {% set pt = '' %}
    {% set pb = '' %}
    {% set pl = '' %}
    {% set pr = '' %}
    {% set cta_y = '' %}
    {% set cta_x = '' %}

    {% if size == 's' %}
        {% set pt = 'pt-9' %}
        {% set pb = 'pb-7' %}
        {% set px = 'px-7.5' %}
        {% set cta_y = 'bottom-7' %}
        {% set cta_x = 'inset-x-7.5' %}
    {% elseif size == 'm' %}
    {% elseif size == 'l' %}
    {% endif %}

    {% set padding = [pt, pb, px]|join(' ') %}

    <div class="relative bg-white h-75 shadow-md-heavy {{ padding }}">
        <div class="text-eyebrow text-gray-500 tracking-wide">{{ eyebrow }}</div>
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>
        <div class="absolute {{ cta_y }} {{ cta_x }}">
            {{ link_button(cta_url, cta_text, 's', true, false, false) }}
        </div>
    </div>
{% endmacro %}

{% macro featured_content(text = '', link_text = '', link_url = '') %}
<div class="w-full flex">
    <div class="grow-0 w-2 bg-blue-800"></div>
    <div class="w-full flex justify-between items-center gap-8 py-8 md:py-10 lg:py-14 xl:py-17 sm:px-12 md:px-16 lg:px-20 xl:px-24 bg-cyan-50">
        <div>{{ text }}</div>
        <div class="flex-none">
            {{ link_button('https://www.example.com', 'Donate Now', 'm', false, true, false) }}
        </div>
    </div>
</div>
{% endmacro %}

{% macro hero_1(title = '', subtitle = '', label = '', alt_text = '') %}
    <div class="lg:h-116 lg:max-h-116 lg:grid lg:grid-cols-2">
        <div class="bg-blue-950 min-h-60 md:min-h-72 py-12 px-6.5 md:px-14 lg:py-29 lg:px-12 xl:px-0 xl:flex xl:justify-end">
            <div class="max-lg:contents space-y-2.5 xl:space-y-3 xl:px-6 xl:max-w-content-container-limit-1/2">
                <div class="text-green-500 text-sm leading-normal font-bold tracking-widest uppercase">{{ label }}</div>
                <h1 class="text-white">{{ title }}</h1>
                <h3 class="hidden md:block text-white lg:pt-1.5">{{ subtitle }}</h3>
            </div>
        </div>
        <img class="max-lg:w-full lg:h-full lg:max-h-116 lg:w-full lg:object-cover lg:object-center" src="./assets/hero-1.jpeg" alt="{{ alt_text }}">
    </div>
{% endmacro %}

{% macro stacked_block(title = '', body_text = '', highlights = [], cta_url = '', cta_text = '', order_flag = true) %}
    {% set order_image = order_flag ? 'order-1' : 'order-2' %}
    {% set order_text = order_flag ? 'order-2' : 'order-1' %}

    <div class="flex flex-col gap-6 md:grid md:grid-cols-2 md:gap-12">
        <img src="./assets/content-1.png" alt="TODO: Add alt text" class="w-full {{ order_image }}">
        <div class="flex flex-col gap-4 {{ order_text }}">
            <h2>{{ title }}</h2>
            <p>{{ body_text }}</p>
            <div class="flex flex-col gap-2 md:gap-4">
                {% for highlight in highlights %}
                    <div class="flex items-center gap-4 md:gap-5 text-blue-800 stroke-blue-800">
                        {% include '@icons/checkmark.twig' with { class: 'relative bottom-0.5' } only %}
                        {{ highlight }}
                    </div>
                {% endfor %}
            </div>
            <div class="{{ highlights.length > 0 ? 'mt-2 md:mt-3' }}">
                {{ link_button(cta_url, cta_text, 's', true, true, false) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro stacked_block_complex(label = '', title = '', body_text = '', tags = [],  cta_url = '', cta_text = '', img_src = '', img_alt_text = '', img_link_url = '', img_link_text = '', order_flag = true) %}
    {% set md_image_col = order_flag ? 'md:col-start-1' : 'md:col-start-2' %}
    {% set md_text_col = order_flag ? 'md:col-start-2' : 'md:col-start-1' %}

    <div class="max-md:flex max-md:flex-col md:grid md:grid-cols-2 md:grid-rows-2-min-content-1fr md:gap-x-12 md:px-content-container">

        <div class="max-md:order-1 {{ md_text_col }} px-content-container md:px-0">
            <div class="text-green-500 text-sm font-bold leading-normal tracking-widest uppercase">{{ label }}</div>
            <h2 class="text-5xl mt-4 md:mt-2.5">{{ title }}</h2>
        </div>

        <div class="max-md:order-2 md:row-start-1 md:row-span-full {{ md_image_col }} flex flex-col items-center gap-6 mt-4.5 md:gap-6.5 md:mt-0">
            <img src="{{ img_src }}" alt="{{ img_alt_text }}" class="h-full max-md:max-h-105 w-full object-cover">
            {% if img_link_url and img_link_text %}
                {{ link_block(img_link_url, img_link_text, 'r') }}
            {% endif %}
        </div>

        <div class="max-md:order-3 {{ md_text_col }} px-content-container md:px-0 mt-8.75 md:mt-3.75">
            <p>{{ body_text }}</p>
            {% if tags.length > 0 %}
                <div class="flex flex-col md:grid md:grid-cols-2 gap-3 mt-6.5 md:gap-5 md:mt-3">
                    {% for tag in tags %}
                        <div class="flex flex-col justify-center items-center gap-4 bg-gray-100 p-6 rounded-10">
                            {% include '@icons/' ~ tag.icon ~ '.twig' with { class: 'fill-blue-950' } only %}
                            <h5 class="text-xl text-center">{{ tag.text }}</h5>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="mt-6 md:mt-10">
                {{ link_button(link_url, cta_text, 'm', true, true, false) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro testimonial(quote = '', source_line_1 = '', source_line_2 = '') %}
    {# TODO: Implement responsive behavior according to @container width #}
    <div class="relative flex justify-center items-center h-86 bg-blue-800 pl-13 pr-16 md:pl-12 md:pr-16 lg:pl-16 lg:pr-21 overflow-hidden">
        <div class="relative z-10 pl-19">
            <div class="absolute -top-20 -left-4 text-super text-green-500">“</div>
            <div class="text-white text-xl lg:text-2xl font-bold">{{ quote }}</div>
        </div>
        <div class="absolute bottom-12 right-21 md:right-26 lg:right-48 flex flex-col text-blue-400 font-semibold leading-snug">
            <div>{{ source_line_1 }}</div>
            <div>{{ source_line_2 }}</div>
        </div>
    </div>
{% endmacro %}
