{# "Local" macros for production code #}
{% from '@macros/components-global.twig' import label, link_block, link_button %}

{% macro accordion(titles = []) %}
    <div x-data="{
        statuses: new Array( {{ titles|length }} ).fill(false),
        toggleSection(index) {
            this.statuses.forEach((status, i) => {
                if (i !== index) {
                    this.statuses[i] = false;
                }
            })
            this.statuses[index] = !this.statuses[index];
        }
    }"
        class="flex flex-col gap-2"
    >
        {% for title in titles %}
            <div class="bg-white border border-gray-250">
                <button @click="toggleSection({{ loop.index0 }})" class="flex justify-between items-center w-full py-6 pl-14 pr-9">
                    <h3>{{ title }}</h3>
                    <div class="bg-cyan-50 h-9 w-9 flex justify-center items-center rounded-full">
                        <div :class="statuses[{{ loop.index0 }}] ? '-rotate-180' : ''" class="transition-transform duration-300">
                            {% include '@svg/chevron-up.svg.twig' with { class: 'fill-blue-950' } only %}
                        </div>
                    </div>
                </button>
                <div x-cloak x-collapse x-show="statuses[{{ loop.index0 }}]" class="py-3 px-14">
                    Content goes here
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro article_header(label_text = '', title = '', date_text = '', img_src = '', img_alt_text = '') %}
    <div class="max-w-screen-xl mx-auto flex flex-col items-center gap-6 md:gap-13.5">
        <div class="flex flex-col items-center px-content-container">
            {{ label(label_text) }}
            <h1 class="text-center mt-3.5 md:mt-5.5">{{ title }}</h1>
            <div class="flex items-center gap-5 mt-4 md:mt-5">
                {% include '@svg/calendar.svg.twig' with { class: 'relative bottom-0.25' } only %}
                <div>{{ date_text }}</div>
            </div>
        </div>
        <img src="{{ img_src }}" alt="{{ img_alt_text }}">
    </div>
{% endmacro %}

{% macro card_regular(title = '', description = '', links = [], main_link_url = '', main_link_text = '', main_link_style = 'block', img_file = '', impact = false) %}
    {% set content_padding = 'px-content-container md:px-0' %}

    <div class="flex flex-col {{ impact ? 'items-center' }}">
        <img src="./assets/{{ img_file }}" alt="" class="max-h-105 w-full object-cover">
        <h3 class="{{ content_padding }} {{ impact ? 'mt-8' : 'mt-6.5 md:mt-4 lg:mt-6.5' }}">{{ title }}</h3>
        <div class="{{ content_padding }} {{ impact ? 'text-center mt-4' : 'mt-3 lg:mt-1.5' }}">{{ description }}</div>

        {% if links.length > 0 %}
            <div class="w-fit mt-5.5 md:mt-3.5 lg:mt-3.5 {{ content_padding }} flex flex-col gap-3.5">
            {% for link in links %}
                <a href="{{ link.url }}" class="text-blue-800 text-xs font-bold tracking-wide">{{ link.text }}</a>
            {% endfor %}
            </div>
        {% endif %}

        {% if main_link_url and main_link_text %}
            {% if main_link_style == 'block' %}
                <div class="w-fit mt-5.5 md:mt-3.5 lg:mt-4.5 {{ content_padding }}">
                    {{ link_block(main_link_url, main_link_text) }}
                </div>
            {% elseif main_link_style == 'button' %}
                <div class="w-fit mt-7.5 md:mt-5.5 lg:mt-6.5 {{ content_padding }}">
                    {{ link_button(main_link_url, main_link_text, 's', false, true, false) }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endmacro %}

{# TODO: Remove the `size` parameter, as this is just a work-around for this code which doesn't have access to the Tailwind `container-queries` plugin (it isn't available for use with the CDN) #}
{% macro card_slider(eyebrow = '', title = '', description = '', cta_url = '', cta_text = '', size = 's') %}

    {# This is to be replaced with container-query classes in production #}
    {% set pt = '' %}
    {% set pb = '' %}
    {% set px = '' %}
    {% set cta_y = '' %}
    {% set cta_x = '' %}

    {% if size == 's' %}
        {% set pt = 'pt-9' %}
        {% set pb = 'pb-7' %}
        {% set px = 'px-10' %}
        {% set cta_y = 'bottom-7' %}
        {% set cta_x = 'inset-x-10' %}
    {% elseif size == 'm' %}
        {% set pt = 'pt-9' %}
        {% set pb = 'pb-9.5' %}
        {% set px = 'px-15' %}
        {% set cta_y = 'bottom-9.5' %}
        {% set cta_x = 'inset-x-15' %}
    {% elseif size == 'l' %}
        {% set pt = 'pt-21' %}
        {% set pb = 'pb-12.5' %}
        {% set px = 'px-15' %}
        {% set cta_y = 'bottom-12.5' %}
        {% set cta_x = 'inset-x-15' %}
    {% endif %}

    {% set padding = [pt, pb, px]|join(' ') %}

    <div class="flex flex-col overflow-y-hidden bg-white h-75 shadow-md {{ padding }}">
        <div class="text-eyebrow text-gray-500">{{ eyebrow }}</div>
        <h3 class="mt-3.5">{{ title }}</h3>
        <p class="grow pb-4 mt-3">{{ description }}</p>
        <div class="{{ cta_y }} {{ cta_x }}">
            {{ link_button(cta_url, cta_text, 'm', true, false, false) }}
        </div>
    </div>
{% endmacro %}

{% macro counter(textGroups = []) %}
    <div class="bg-blue-400 w-full
        flex flex-col justify-center items-center gap-16 pt-15 pb-15 max-md:px-content-container
        md:grid md:grid-cols-2 md:grid-rows-2 md:gap-y-10vw md:py-5.75vw md:px-20
        lg:flex lg:flex-row lg:justify-between lg:items-center lg:gap-0 lg:pt-17.5 lg:pb-20 lg:px-14
    ">
        {% for t in textGroups %}
            {% set postfix_class = t.postfix == '+' ? 'relative bottom-1.25' %}
            {# Code for the count-up functionality copied from: https://stackoverflow.com/a/76659064 #}
            <div class="flex flex-col items-center gap-1 md:gap-0 px-4 md:px-0"
                x-data="{ visible: false, start: 0, target: {{ t.target }}, duration: 3000 }"
                x-intersect:enter.full="visible = true" x-intersect:leave="visible = false; start = 0"
                x-init="$watch('visible', value => {
                    const $el = $refs.el;
                    const step = (timestamp) => {
                        if (!start) {
                            start = timestamp;
                        }
                        const progress = timestamp - start;
                        const percentage = Math.min(progress / duration, 1);
                        const value = Math.floor(percentage * target);
                        $el.innerHTML = value.toLocaleString();
                        if (progress < duration) {
                            window.requestAnimationFrame(step);
                        }
                    };
                    window.requestAnimationFrame(step);
                })"
            >
                <div class="text-9xl text-blue-800 text-center">
                    <span>{{ t.prefix }}</span><span x-ref="el">{{ t.start }}</span><span class="{{ postfix_class }}">{{ t.postfix }}</span>
                </div>
                <div class="text-sm text-white font-bold text-center uppercase">{{ t.label }}</div>
            </div>
            {% if not loop.last %}
                <div class="hidden lg:block h-43.5 border-l border-white"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro cta_left_text(title = '', description = '', link_url = '', link_text = '', cta_url = '', cta_text = '', img_src = '', img_alt_text = '') %}
    <div class="relative">
        <img src="{{ img_src }}" alt="{{ img_alt_text }}" class="w-full object-cover object-center h-86 md:h-118">
        <div class="flex flex-col bg-white md:absolute md:top-9 md:left-6 md:max-h-100 md:max-w-93-pct pt-10 pb-13 md:pt-10 md:pb-7.5 px-9 md:px-content-container">
            <h2 class="md:overflow-y-auto">{{ title }}</h2>
            <p class="mt-3 md:w-min md:min-w-full md:overflow-y-auto">
                {{ description }}>
            </p>
            <div class="mt-8 md:w-max md:order-last">
                {{ link_button(cta_url, cta_text, 'm', false, true, false) }}
            </div>
            <div class="mt-8 md:w-max">
                {{ link_block(link_url, link_text, 'r') }}
            </div>
        </div>
    </div>
{% endmacro %}%}

{% macro download_cta(title = '', description = '', cta_url = '', cta_text, img_src = '') %}
    <div class="max-w-max mx-auto flex flex-col md:flex-row items-center md:items-start md:gap-11">
        <img src="{{ img_src }}" alt="{{ img_alt_text }}" class="max-md:order-2 max-h-58 mt-7 md:mt-0 shadow-sm">
        <div class="max-md:contents max-w-xl">
            <h3 class="max-md:order-1 md:mt-1">{{ title }}</h3>
            <div class="max-md:order-3 text-2xl leading-relaxed mt-10 md:mt-6">{{ description }}</div>
            <div class="max-md:order-4 mt-12 md:mt-7">
                {{ link_button(cta_url, cta_text, 's', false, true, false, 'pdf') }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro hero_1(title = '', subtitle = '', label = '', alt_text = '', featured_content_text = '', featured_content_cta_url = '', featured_content_cta_text = '') %}
    <div class="lg:h-116 lg:max-h-116 lg:grid lg:grid-cols-2">
        <div class="bg-blue-950 min-h-60 md:min-h-72 py-12 px-6.5 md:px-14 lg:py-29 lg:px-12 xl:px-0 xl:flex xl:justify-end">
            <div class="max-lg:contents space-y-2.5 xl:space-y-3 xl:px-6 xl:max-w-content-container-limit-1/2">
                <div class="text-eyebrow text-green-500">{{ label }}</div>
                <h1 class="text-white">{{ title }}</h1>
                <h3 class="text-white lg:pt-1.5">{{ subtitle }}</h3>
            </div>
        </div>
        <img class="max-lg:w-full lg:h-full lg:max-h-116 lg:w-full lg:object-cover lg:object-center" src="./assets/hero-1.png" alt="{{ alt_text }}">
    </div>

    {% if featured_content_text %}
        <div class="max-w-content-container-limit mx-auto flex px-content-container mt-10 md:-mt-16 lg:-mt-12">
            <div class="grow-0 w-1 lg:w-2 bg-blue-800"></div>
            <div class="w-full flex flex-col md:flex-row justify-between items-center gap-12 md:gap-8 pt-6 pb-11.5 md:pt-8.5 md:pb-7.5 lg:py-14 xl:py-17 px-5 md:px-8 lg:px-20 xl:px-24 bg-cyan-50">
                <div>{{ featured_content_text }}</div>
                {% if featured_content_cta_url and featured_content_cta_text %}
                    <div class="flex-none">
                        {{ link_button(featured_content_cta_url, featured_content_cta_text, 'm', false, true, false) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro homepage_header_with_pillars(title = '', subtitle = '', label_text = '', subcontent_title = '', subcontent = []) %}
    <div class="relative bg-blue-950 overflow-hidden lg:pt-23 lg:pb-34">

        <div class="hidden lg:block absolute z-0 inset-0">
            <div class="relative max-w-content-extra-wide mx-auto">
                <div class="absolute h-67vw max-h-176 -top-43 -right-40">
                    {% include '@svg/ispe-globe.svg.twig' with { class: 'fill-white opacity-30 h-full' } only %}
                </div>
            </div>
        </div>

        <div class="relative z-10 max-w-content-container-limit mx-auto lg:px-content-container flex flex-col lg:grid lg:grid-cols-2">
            <div class="pt-12 pb-15 lg:pt-4 lg:mr-16 xl:pt-2 xl:mr-32 max-lg:px-content-container">
                {{ label(label_text) }}
                <h1 class="text-3xl lg:text-8xl lg:leading-snug-tight lg:font-semibold text-white pt-5.5 lg:pt-2">{{ title }}</h1>
                <p class="text-white pt-2.5">{{ subtitle }}</p>
            </div>
            <div class="bg-black flex justify-center items-center w-full aspect-w-16 aspect-h-9">
                {% include '@svg/video_play.svg.twig' with { class: 'h-20 w-20 sm:h-38 sm:w-38 lg:h-24 lg:w-24 xl:h-29 xl:w-29' } only %}
            </div>
        </div>
    </div>
    {# This element is intended to be slightly wider than the regular content #}
    <div class="relative z-20 bg-blue-400 max-w-content-container-limit mx-auto flex flex-col items-center gap-8 lg:gap-4.5 shadow-md-light py-8 px-6 lg:py-3 lg:-mt-9 lg:mb-9">
        <h3 class="text-blue-950">{{ subcontent_title }}</h3>
        <div x-data="{
            statuses: new Array( {{ titles|length }} ).fill(false),
            onHover(index) {
                if (window.innerWidth >= 768) {
                    this.toggleSection(index);
                }
            },
            toggleSection(index) {
                this.statuses.forEach((status, i) => {
                    if (i !== index) {
                        this.statuses[i] = false;
                    }
                })
                this.statuses[index] = !this.statuses[index];
            }
        }"
            class="
                flex flex-col gap-3 text-white
                md:grid md:grid-cols-2 md:grid-rows-2 md:gap-10vw
                lg:flex lg:flex-row lg:justify-between lg:gap-0 lg:w-full lg:px-8
            "
        >
            {% for item in subcontent %}
                <div
                    @mouseenter="onHover({{ loop.index0 }})"
                    @mouseleave="onHover({{ loop.index0 }})"
                    class="relative cursor-pointer lg:flex lg:justify-center   "
                >
                    <div @click="toggleSection({{ loop.index0 }})" class="flex flex-col items-center gap-2.5 md:justify-between md:h-36 lg:w-max p-4">
                        {% include '@svg/' ~ item.icon ~ '.svg.twig' with { class: 'fill-white' } only %}
                        <strong class="font-bold leading-loose-2xl">{{ item.title }}</strong>
                    </div>

                    <a
                        href="{{ item.url }}"
                        x-cloak
                        x-bind:inert="!statuses[{{ loop.index0 }}]"
                        :class="statuses[{{ loop.index0 }}] ? 'opacity-100' : 'opacity-0'"
                        {# The last link is positioned such that it won't go past the right edge of the parent container #}
                        class="absolute z-10 top-0 max-lg:inset-0 lg:top-3.5 lg:h-44 lg:w-70 {{ loop.last ? 'lg:-right-8' }} bg-blue-950 flex flex-col p-4 transition-opacity duration-600 ease-in-out"
                    >
                        <strong class="font-bold leading-normal">
                            {{ item.title }}
                        </strong>
                        <p class="text-xs">
                            {{ item.description }}
                        </p>
                        {% include '@svg/arrow-right.svg.twig' with { class: 'absolute bottom-4 right-4 fill-white' } only %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro homepage_impact_story(title = '', subtitle = '', label_text = '', cta_url = '', cta_text = '') %}
    <div class="bg-blue-800 lg:pt-23 lg:pb-21.25">
        <div class="flex flex-col lg:grid lg:grid-cols-2 max-w-content-container-limit mx-auto lg:px-content-container">
            <div class="flex flex-col gap-4.5 pt-9.5 pb-11 md:pb-7.5 lg:py-0 lg:mr-16 xl:mr-32 max-lg:px-content-container">
                {{ label(label_text) }}
                <h2 class="text-5xl text-white">{{ title }}</h2>
                <p class="text-white">{{ subtitle }}</p>
                <div class="mt-6.5 md:mt-0 lg:mt-5 xl:mt-11">
                    {{ link_button(cta_url, cta_text, 's', false, true, false) }}
                </div>
            </div>
            <div class="bg-black flex justify-center items-center w-full aspect-w-16 aspect-h-9">
                {% include '@svg/video_play.svg.twig' with { class: '' } only %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro homepage_map(pins = []) %}
    <div class="bg-blue-400 h-2.5"></div>
    <div
        class="relative mx-auto"
        {# add extra space below the map at small screen sizes when the video is shown #}
        :class="showVideo && 'max-md:mb-[calc(-25vw_+_11.25rem)]'"
        x-data="{
            showVideo: true,
            videoUrl: 'https://www.youtube.com/embed/{{ pins[0].videoID }}',
            openVideo(videoID) {
                this.videoUrl = 'https://www.youtube.com/embed/' + videoID;
                this.showVideo = true;
            },
            closeVideo() {
                this.showVideo = false;
            }
        }"
    >
        {# map and pins #}
        {% set pin_small_half_width = '11.25px' %}
        {% set pin_medium_half_width = '22.5px' %}
        <img src="./assets/map.svg" alt="world map">
        {% for pin in pins %}
            <div class="absolute z-10 bottom-[{{ pin.y }}%] left-[calc({{ pin.x }}%-{{ pin_small_half_width }})] md:left-[calc({{ pin.x }}%-{{ pin_medium_half_width }})] cursor-pointer hover:animate-bounce-by-growing-small md:hover:animate-bounce-by-growing">
                <img @click="openVideo('{{ pin.videoID }}')" src="./assets/pin.svg" alt="{{ pin.name }}" class="h-8 md:h-16">
            </div>
        {% endfor %}

        {# video player #}
        <div x-show="showVideo" class="absolute z-20 w-fit
            max-md:aspect-w-16 max-md:aspect-h-9 max-md:inset-x-0 max-md:mx-auto max-md:px-content-container max-md:bottom-[calc(30vw_-_11.875rem)]
            md:top-1/3 md:right-16 md:px-0
        ">
            <div class="relative w-full bg-gray-50 pt-6 pb-4 px-4 md:pt-12 md:pb-6 md:px-8 rounded-2xl md:rounded-3xl shadow-map">
                <button @click="closeVideo()" class="absolute top-2 right-2 md:top-4.5 md:right-4">
                    <img src="./assets/x.svg" alt="Close video" class="h-2 md:h-full">
                </button>

                <div class="md:h-78.75 md:w-140">
                    <iframe
                        width="100%"
                        height="100%"
                        :src="videoUrl"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                    >
                    </iframe>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro image_gallery(image_urls) %}
    {% set max_width_by_image_count = {
        1: 'max-w-slider-750/8-1',
    } %}

    <div class="splide splide-image-gallery {{ max_width_by_image_count[image_urls.length] }} mx-auto pb-14.5 md:pb-17" aria-label="Splide Basic HTML Example">
        <div class="splide__arrows absolute z-20 bottom-0 inset-x-0 flex justify-center gap-2">
            {% set arrow_classes = 'flex justify-center items-center bg-cyan-50 h-9 w-9 p-1.25 rounded-full' %}
            <button class="splide__arrow--prev {{ arrow_classes }}">
                {% include '@globalPartials/chevron-left-medium.twig' with { alt_text: 'previous' } only %}
            </button>
            <button class="splide__arrow--next {{ arrow_classes }}">
                {% include '@globalPartials/chevron-right-medium.twig' with { alt_text: 'next' } only %}
            </button>
        </div>

        <div class="splide__track z-10 h-55.5 md:h-98.75">
            <div class="splide__list">
                {% for image_url in image_urls %}
                    <div class="splide__slide">
                        <img src="{{ image_url }}" alt="" class="h-full">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro stacked_block(title = '', body_text = '', highlights = [], cta_url = '', cta_text = '', order_flag = true) %}
    {% set order_image = order_flag ? 'order-1' : 'order-2' %}
    {% set order_text = order_flag ? 'order-2' : 'order-1' %}

    <div class="flex flex-col gap-6 md:grid md:grid-cols-2 md:gap-12">
    {# TODO: This may need to be modified so that the image uses the full width of the page in the mobile view #}
        <img src="./assets/content-750-420-2.png" alt="TODO: Add alt text" class="w-full {{ order_image }}">
        <div class="flex flex-col gap-4 {{ order_text }}">
            <h2>{{ title }}</h2>
            <p>{{ body_text }}</p>
            <div class="flex flex-col gap-2 md:gap-4">
                {% for highlight in highlights %}
                    <div class="flex items-center gap-4 md:gap-5 text-blue-800 stroke-blue-800">
                        {% include '@svg/checkmark.svg.twig' with { class: 'relative bottom-0.5' } only %}
                        {{ highlight }}
                    </div>
                {% endfor %}
            </div>
            <div class="{{ highlights.length > 0 ? 'mt-2 md:mt-3' }}">
                {{ link_button(cta_url, cta_text, 's', true, true, false) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro stacked_block_complex(label = '', title = '', body_text = '', tags = [],  cta_url = '', cta_text = '', img_src = '', img_alt_text = '', img_link_url = '', img_link_text = '', order_flag = true) %}
    {% set md_image_col = order_flag ? 'md:col-start-1' : 'md:col-start-2' %}
    {% set md_text_col = order_flag ? 'md:col-start-2' : 'md:col-start-1' %}

    <div class="max-md:flex max-md:flex-col md:grid md:grid-cols-2 md:grid-rows-2-min-content-1fr md:gap-x-12 md:px-content-container">

        <div class="max-md:order-1 {{ md_text_col }} px-content-container md:px-0">
            <div class="text-eyebrow text-green-500">{{ label }}</div>
            <h2 class="text-5xl mt-4 md:mt-2.5">{{ title }}</h2>
        </div>

        <div class="max-md:order-2 md:row-start-1 md:row-span-full {{ md_image_col }} flex flex-col items-center gap-6 mt-4.5 md:gap-6.5 md:mt-0">
            <img src="{{ img_src }}" alt="{{ img_alt_text }}" class="w-full">
            {% if img_link_url and img_link_text %}
                {{ link_block(img_link_url, img_link_text, 'r') }}
            {% endif %}
        </div>

        <div class="max-md:order-3 {{ md_text_col }} px-content-container md:px-0 mt-8.75 md:mt-3.75">
            <p>{{ body_text }}</p>
            {% if tags.length > 0 %}
                {% set md_grid_cols = content.field_tags|length == 1 ? 'md:grid-cols-1' : 'md:grid-cols-2' %}
                <div class="flex flex-col md:grid {{ md_grid_cols }} gap-3 mt-6.5 md:gap-5 md:mt-3">
                    {% for tag in tags %}
                        <div class="flex flex-col justify-center items-center gap-4 bg-gray-100 p-6 rounded-10 fill-blue-950">
                            {% include '@svg/' ~ tag.icon ~ '.svg.twig' %}
                            <h5 class="text-center">{{ tag.text }}</h5>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="mt-6 md:mt-10">
                {{ link_button(link_url, cta_text, 'm', true, true, false) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro testimonial(quote = '', source_line_1 = '', source_line_2 = '') %}
    {# TODO: Implement responsive behavior according to @container width #}
    <div class="relative flex justify-center items-center h-86 bg-blue-800 pl-13 pr-16 md:pl-12 md:pr-16 lg:pl-16 lg:pr-21 overflow-hidden">
        <div class="relative z-10 pl-19">
            <div class="absolute -top-20 -left-4 text-super text-green-500">“</div>
            <div class="text-white text-xl lg:text-2xl font-bold">{{ quote }}</div>
        </div>
        <div class="absolute bottom-12 right-21 md:right-26 lg:right-48 flex flex-col text-blue-400 font-semibold leading-snug">
            <div>{{ source_line_1 }}</div>
            <div>{{ source_line_2 }}</div>
        </div>
    </div>
{% endmacro %}

{% macro text_plus_image(title = '', text_blocks = [], img_src = '', img_alt_text = '') %}
    <div class="relative max-w-360 mx-auto md:pt-18.5 xl:pt-26">
        <div class="md:absolute md:top-0 md:left-0 md:w-max">
            <div class="bg-green-500 h-2.5"></div>
            {# The complex horizontal padding value is necessary to ensure that the following conditions are, as much as possible, simultaneously met:
            - the content within the rectangle stays left-aligned with the rest of the content on the page
            - the rectangle and its padding expand to their full size as the window grows beyond the XL breakpoint
            - the left and right padding areas are always fully visible and equal
            #}
            <div class="bg-blue-950 text-white py-16.5 xl:pb-23 px-content-container md:px-12 xl:px-[clamp(3rem,_calc(37.5vw_-_27.5rem),_7.5rem)]">
                <h2>{{ title }}</h2>
                <div class="mt-6 md:mt-13 flex flex-col gap-11 xl:gap-16 md:grid md:grid-cols-2">
                    {% for block in text_blocks %}
                        <div class="md:w-56 xl:w-54.5">
                            <h4>{{ block.title }}</h4>
                            <p class="mt-2">{{ block.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <img src="{{ img_src }}" alt="{{ img_alt_text }}" class="h-93 md:h-142.5 xl:h-135 w-full object-cover object-center">
{% endmacro %}
