{# Macros for production code #}

{% macro link_button(address = '', text = '', size = 's', wide = false, primary = true, new_tab = false) %}
    {% set background = 'bg-blue-400 hover:bg-blue-950' %}

    {% set padding = '' %}
    {% set rounding = '' %}
    {% set text_size = '' %}
    {% set font_weight = '' %}
    {% set icon_gap = '' %}
    {% set icon_position = '' %}
    {% set icon_scale = '' %}
    {% set width = '' %}

    {% if size == 's' %}
        {% set padding = 'py-4 px-10' %}
        {% set rounding = 'rounded-3xl' %}
        {% set text_size = wide ? 'text-xl leading-match' : 'text-sm leading-tight' %}
        {% set font_weight = 'font-bold' %}
        {% set icon_gap = 'gap-2' %}
        {% set icon_position = 'relative bottom-0.25' %}
        {% set icon_scale = '' %}
    {% elseif size == 'm' %}
        {% set padding = wide ? 'py-4.5 px-15' : 'py-4 px-15' %}
        {% set rounding = 'rounded-3xl' %}
        {% set text_size = wide ? 'text-xl leading-match' : 'text-xl leading-tight' %}
        {% set font_weight = wide ? 'font-bold' : 'font-semibold' %}
        {% set icon_gap = 'gap-3' %}
        {% set icon_position = 'relative bottom-0.5' %}
        {% set icon_scale = 'scale-125' %}
    {% elseif size == 'l' %}
        {% set padding = wide ? 'py-7.25 px-15' : 'py-5 px-15' %}
        {% set rounding = 'rounded-6xl' %}
        {% set text_size = 'text-6xl leading-tight' %}
        {% set font_weight = 'font-semibold' %}
        {% set icon_gap = 'gap-8' %}
        {% set icon_position = 'relative bottom-0.5' %}
        {% set icon_scale = 'scale-250' %}
    {% endif %}

    {% if wide %}
        {% set width = 'w-full' %}
    {% endif %}

    {% if not primary %}
        {% set background = 'bg-cyan-50 hover:bg-blue-400' %}
    {% endif %}

    {% set code_for_copying = "{{ link_button(\'address\', \'Label\', \'" ~ size ~ "\', " ~ wide ~ ", " ~ primary ~ ", " ~ new_tab ~ ") }}" %}

    <a x-data @click="() => navigator.clipboard.writeText(`{{ code_for_copying }}`)"
        {# TODO: Uncomment the following line for the production code (leaving it commented for now allows the link-buttons to be clicked for copying their usage code) #}
        {# href="{{ address }}" #}
        {{ new_tab ? 'target="_blank"' }}
        class="flex items-center tracking-wide no-underline text-blue-950 hover:text-white stroke-blue-950 hover:stroke-white transition-colors duration-250 ease-out {{ background }} {{ padding }} {{ rounding }} {{ text_size }} {{ text_color }} {{ font_weight }} {{ icon_gap }} {{ width }}"
    >
        <span>{{ text }}</span>
        {% if new_tab %}
            {% include '@assets/link-icon.svg' with { class: icon_position ~ ' ' ~ icon_scale } %}
        {% endif %}
    </a>
{% endmacro %}
