{% macro start(gray_background, first, last, class = '', include_padding_x = true) %}
    {% set background = gray_background ? 'bg-gray-50' : 'bg-white' %}
    {% set padding_x = include_padding_x ? 'px-content-container' : '' %}

    {% set padding = '' %}
    {% set margin_top = '' %}
    {% set margin_bottom = '' %}

    {% if gray_background %}
        {% if not first %}
            {% set margin_top = 'mt-8.75' %}
        {% endif %}
        {% if not last %}
            {% set margin_bottom = 'mb-8.75' %}
        {% endif %}

        {% set padding = 'py-17.5' %}
    {% else %}
        {% set padding = last ? 'pt-8.75 pb-17.5' : 'py-8.75' %}
    {% endif %}

    <div class="{{ background }} {{ padding }} {{ margin_top }} {{ margin_bottom }}">
        <div class="max-w-content-container-limit mx-auto {{ padding_x }} {{ class }}">
{% endmacro %}

{% macro end() %}
        </div>
    </div>
{% endmacro %}
