{% from '@macros/components-local.twig' import testimonial %}
{% import '@macros/section-with-left-channel.twig' as section %}

{% set items = [
    { id: 1, text: 'Purpose' },
    { id: 2, text: 'Eligibility' },
    { id: 3, text: 'Nature of Grant' },
    { id: 4, text: 'General Information' },
    { id: 5, text: 'Apply' },
    { id: 6, text: 'Other Opportunities' },
    { id: 7, text: 'Timeline' },
] %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '3.3 Left Nav' } only %}
</div>
<div class="my-12">
    {{ section.start() }}
        {{ section.left_channel_start() }}

            {# Navigation menu (mobile) #}
            <div x-data="{
                    open: false,
                    goToContent() {
                        this.open = false;
                    }
                }"
                class="md:hidden relative z-20 bg-gray-50">
                {# The z-index of the button is set higher than the menu dropdown so that the button's box-shadow will overlap the dropdown #}
                <button @click="open = !open" :class="!open && 'shadow-md-heavy'" class="relative z-20 flex items-center gap-4 w-full py-4 px-5">
                    {# The height and width are set so that there are no minor size changes when the icon being displayed changes #}
                    <span class="h-6 w-8">
                        <span x-show="!open">
                            {% include '@localPartials/menu.twig' with { alt_text: 'open intra-page navigation' } only %}
                        </span>
                        <span x-show="open">
                            {% include '@localPartials/cross.twig' with { alt_text: 'close intra-page navigation' } only %}
                        </span>
                    </span>
                    <span class="text-sm font-bold">on this page</span>
                </button>
                <div class="relative">
                    <div x-cloak x-show="open" x-collapse class="absolute top-0 inset-x-0 z-20 overflow-hidden pb-4">
                        {# To have the shadow effect be shown on the bottom and not the top of this element: its parent `overflow` is set to `hidden`, and padding is added to the bottom of the parent #}
                        <nav class="bg-gray-50 pb-2 shadow-md-heavy">
                            <ol>
                                {% for item in items %}
                                    <li>
                                        <a @click="goToContent()" href="#3-3-left-nav-{{ item.id }}" class="block text-sm py-3 px-5">
                                            {{ item.text }}
                                        </a>
                                        {% if not loop.last %}
                                            <span class="block h-px mx-5 bg-gray-200"></span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            {# Navigation menu (desktop) #}
            <div x-data="{
                    selectedItemID: 1,
                    selectItem(id) {
                        this.selectedItemID = id;
                    }
                }"
                class="hidden md:block">
                <nav class="border-r-2 border-gray-300">
                    <ol>
                        {% for item in items %}
                            <li>
                                <a @click="selectItem({{ item.id }})" href="#3-3-left-nav-{{ item.id }}" :class="selectedItemID === {{ item.id }} && 'bg-cyan-50'" class="block py-3 px-6 hover:bg-cyan-50">
                                    {{ item.text }}
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>

        {{ section.left_channel_end() }}

        {{ section.main_content_start() }}
            {{ testimonial('Est tation latine aliquip id, mea ad tale illud definitiones. Periculis omittantur necessitatibus eum ad, pro eripuit minimum comprehensam ne, usu cu stet prompta reformidans.', 'Companyname', 'Founder & CEO') }}
        {{ section.main_content_end() }}
    {{ section.end() }}
</div>
