{% from '@macros/components-local.twig' import card_regular %}
{% import '@macros/section.twig' as section %}

{% set our_impact_cards_single = [
    {
        title: 'Impact Story Here',
        description: 'At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputat. At eripuit signiferumque sea, vel ad mucius molestie.',
        links: [],
        main_link_url: '',
        main_link_text: '',
        main_link_style: '',
        img_file: 'content-1500-840-1.png',
        impact: true,
    },
] %}

{% set our_impact_cards_double = [
    {
        title: 'Impact Story Here',
        description: 'At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputat. At eripuit signiferumque sea, vel ad mucius molestie.',
        links: [],
        main_link_url: '',
        main_link_text: '',
        main_link_style: '',
        img_file: 'content-750-420-1.png',
        impact: true,
    },
    {
        title: 'Impact Story Here',
        description: 'At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputat. At eripuit signiferumque sea, vel ad mucius molestie.',
        links: [],
        main_link_url: '',
        main_link_text: '',
        main_link_style: '',
        img_file: 'content-750-420-1.png',
        impact: true,
    },
] %}

{% set whats_happening_cards = [
    {
        title: 'Max of Sixty Character Header Article Title Goes Here',
        description: 'Max of 220 character count description goes here. The description should be brief, interesting, and entice the user to click and read more. This content is dynamically generated from the News section.',
        links: [],
        main_link_url: 'https://www.example.com',
        main_link_text: 'Read more',
        main_link_style: 'block',
        img_file: 'content-750-420-2.png',
        impact: false,
    },
    {
        title: 'Max of Sixty Character Header Article Title Goes Here',
        description: 'Max of 220 character count description goes here. The description should be brief, interesting, and entice the user to click and read more. This content is dynamically generated from the News section.',
        links: [],
        main_link_url: 'https://www.example.com',
        main_link_text: 'Read more',
        main_link_style: 'block',
        img_file: 'content-750-420-2.png',
        impact: false,
    },
] %}

{% set related_programs_1_cards = [
    {
        title: 'ISPE Academic Scholarship Fund',
        description: 'At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.',
        links: [
            { url: 'https://www.example.com', text: 'This is a sample link' },
            { url: 'https://www.example.com', text: 'This is a sample link' },
        ],
        main_link_url: 'https://www.example.com',
        main_link_text: 'Read More',
        main_link_style: 'button',
        img_file: 'content-750-420-3.png',
        impact: false,
    },
    {
        title: 'Professional Development Grants',
        description: 'At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.',
        links: [
            { url: 'https://www.example.com', text: 'This is a sample link' },
            { url: 'https://www.example.com', text: 'This is a sample link' },
        ],
        main_link_url: 'https://www.example.com',
        main_link_text: 'Read More',
        main_link_style: 'button',
        img_file: 'content-750-420-4.png',
        impact: false,
    },
    {
        title: 'ISPE Academic Scholarship Fund',
        description: 'At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.',
        links: [
            { url: 'https://www.example.com', text: 'This is a sample link' },
            { url: 'https://www.example.com', text: 'This is a sample link' },
        ],
        main_link_url: 'https://www.example.com',
        main_link_text: 'Read More',
        main_link_style: 'button',
        img_file: 'content-750-420-5.png',
        impact: false,
    },
] %}

{% set related_programs_2_cards = [
    {
        title: 'Program Title Here',
        description: 'At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.',
        links: [],
        main_link_url: 'https://www.example.com',
        main_link_text: 'Optional Button',
        main_link_style: 'button',
        img_file: 'content-750-420-1.png',
        impact: false,
    },
    {
        title: 'Program Title Here',
        description: 'At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.',
        links: [],
        main_link_url: 'https://www.example.com',
        main_link_text: 'Optional Button',
        main_link_style: 'button',
        img_file: 'content-750-420-2.png',
        impact: false,
    },
    {
        title: 'Program Title Here',
        description: 'At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.',
        links: [],
        main_link_url: 'https://www.example.com',
        main_link_text: 'Optional Button',
        main_link_style: 'button',
        img_file: 'content-750-420-3.png',
        impact: false,
    },
] %}

{% set donor_spotlight_cards = [
    {
        title: 'Donar Name Here',
        description: 'At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.',
        links: [],
        main_link_url: 'https://www.example.com',
        main_link_text: 'Read more',
        main_link_style: 'block',
        img_file: 'content-750-420-3.png',
        impact: false,
    },
    {
        title: 'Donar Name Here',
        description: 'At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.',
        links: [],
        main_link_url: 'https://www.example.com',
        main_link_text: 'Read more',
        main_link_style: 'block',
        img_file: 'content-750-420-4.png',
        impact: false,
    },
    {
        title: 'Donar Name Here',
        description: 'At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.',
        links: [],
        main_link_url: 'https://www.example.com',
        main_link_text: 'Read more',
        main_link_style: 'block',
        img_file: 'content-750-420-5.png',
        impact: false,
    },
] %}

{% set miscellaneous_cards = [
    {
        title: 'Max of Sixty Chracter Header Artlce Title Goes Here',
        description: 'Max of 220 character count description goes here. The description should be brief, interesting, and entice the user to click and read more. This content is dynamically generated from the News section.',
        links: [],
        main_link_url: 'https://www.example.com',
        main_link_text: 'Read More',
        main_link_style: 'button',
        img_file: 'content-750-420-1.png',
        impact: false,
    },
    {
        title: 'Max of Sixty Chracter Header Artlce Title Goes Here',
        description: 'Max of 220 character count description goes here. The description should be brief, interesting, and entice the user to click and read more. This content is dynamically generated from the News section.',
        links: [],
        main_link_url: 'https://www.example.com',
        main_link_text: 'Read More',
        main_link_style: 'button',
        img_file: 'content-750-420-2.png',
        impact: false,
    },
] %}

{% set card_sets = [
    our_impact_cards_single,
    our_impact_cards_double,
    whats_happening_cards,
    related_programs_1_cards,
    related_programs_2_cards,
    donor_spotlight_cards,
    miscellaneous_cards,
] %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '4.17 Regular Cards' } only %}
</div>
{% for cards in card_sets %}
    {{ section.start(loop.index0 % 2 == 0, loop.first, loop.last, '', false) }}
        {# TODO: Remember that dynamically-constructed classes will not work in production #}
        {% set grid_cols = 'md:grid-cols-' ~ cards.length %}
        {% set grid_rows = 'grid-rows-min' %}

        {% set gap = 'gap-10 md:gap-7 lg:gap-10' %}
        {% if cards[0].impact %}
            {% set gap = 'gap-6 md:gap-12 lg:gap-19.5' %}
        {% endif %}

        <div class="grid {{ grid_cols }} {{ grid_rows }} {{ gap }} md:px-content-container">
            {% for card in cards %}
                {{ card_regular(card.title, card.description, card.links, card.main_link_url, card.main_link_text, card.main_link_style, card.img_file, card.impact) }}
            {% endfor %}
        </div>
    {{ section.end() }}
{% endfor %}
