{% import '@macros/section.twig' as section %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '4.3 Stacked Blocks with Short Image' } only %}
</div>
{{ section.start(true, true, false, '') }}
    {# TODO: Add component #}
{{ section.end() }}

{{ section.start(false, false, false, '') }}
    {# TODO: Add component #}
{{ section.end() }}

{{ section.start(true, false, true, '') }}
    {# TODO: Add component #}
{{ section.end() }}
