{% from '@macros/components-local.twig' import stacked_block_complex %}
{% import '@macros/section.twig' as section %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '4.3 Stacked Blocks with Short Image' } only %}
</div>
{{ section.start(true, true, false, '', false) }}
    {{ stacked_block_complex(
        'Philanthropic Pillar',
        'Greatest Needs',
        'The ISPE Foundation’s greatest needs provide unrestricted funding to address emerging needs and seizes opportunities that increase access within industry.',
        [],
        'https://www.example.com',
        'Learn More',
        './assets/content-2.png',
        '',
        '',
        '',
        false
    ) }}
{{ section.end() }}

{{ section.start(false, true, false, '', false) }}
    {{ stacked_block_complex(
        'Philanthropic Pillar',
        'ISPE Knowledge Without Borders',
        'ISPE Knowledge Without Borders makes pharmaceutical manufacturing best practices available to new and emerging markets, helping to implement processes in line with regulatory requirements that deliver better outcomes. The ISPE Technology Without Borders is leading the charge by expediting the distribution of key ISPE Guidance Documents and associated ISPE training to emerging economies, regulatory bodies, and organizations who would otherwise have limited or no access to these critical best practices and standards.',
        [
            { text: 'Technology without Borders', icon: 'globe' },
            { text: 'Translations', icon: 'globe-languages' }
        ],
        'https://www.example.com',
        'Learn More',
        './assets/content-2.png',
        '',
        '',
        '',
        true
    ) }}
{{ section.end() }}

{{ section.start(true, false, false, '', false) }}
    {{ stacked_block_complex(
        'Philanthropic Pillar',
        'Scholarships and Grants',
        'Scholarships & Grants provide opportunity for talented students and recent graduates to attend ISPE conferences and events to strengthen their technical knowledge and develop a professional network. The ISPE Foundation helps provide scholarships to broaden access to cutting-edge technical knowledge and education.',
        [
            { text: 'ISPE Academic Scholarship Fund', icon: 'hand-globe' },
            { text: 'Professional Development Grants', icon: 'handshake' }
        ],
        'https://www.example.com',
        'Learn More',
        './assets/content-2.png',
        '',
        'https://www.example.com',
        'Opportunities for students',
        false
    ) }}
{{ section.end() }}

{{ section.start(false, false, true, '', false) }}
        {{ stacked_block_complex(
        'Philanthropic Pillar',
        'Workforce Diversity',
        'Workforce Diversity is critical to ensure the continued growth and success of the global pharmaceutical industry through the availability of a diverse and capable workforce. The ISPE Women in Pharma® program empowers women with professional development opportunities necessary to increase diversity and foster a more inclusive community within the industry.',
        [
            { text: 'ISPE Foundation Diversity Internship Program', icon: 'globe-scholar' },
            { text: 'Women in Pharma', icon: 'people-abstract' }
        ],
        'https://www.example.com',
        'Learn More',
        './assets/content-2.png',
        '',
        '',
        '',
        true
    ) }}
{{ section.end() }}
