{% from '@macros/components-local.twig' import stacked_block %}
{% import '@macros/section.twig' as section %}

<div>
    {% include '@localPartials/component-title.twig' with { text: '4.3 Stacked Blocks with Short Image' } only %}
</div>
{{ section.start(true, true, false, '') }}
    {{ stacked_block(
        'Share Your Story',
        'Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum. At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum. Assum suavitate ea vel.',
        [
            'At nam minimum ponderum.',
            'At nam minimum ponderum.'
        ],
        'https://www.example.com',
        'Share My Story',
        false
    ) }}
{{ section.end() }}
{{ section.start(false, false, false, '') }}
    {{ stacked_block(
        'Campaign Opportunities',
        'Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum. At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum. Assum suavitate ea vel, vero erat doming cu cum.',
        [],
        'https://www.example.com',
        'CTA Here',
        true
    ) }}
{{ section.end() }}
{{ section.start(true, false, true, '') }}
    {{ stacked_block(
        'Share Your Story',
        'Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum. At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum. Assum suavitate ea vel.',
        [
            'At nam minimum ponderum.',
            'At nam minimum ponderum.'
        ],
        'https://www.example.com',
        'Share My Story',
        false
    ) }}
{{ section.end() }}
