{% from '@macros/production.twig' import label, link_inline %}
{% import '@macros/code.twig' as code %}
{% import '@macros/section.twig' as section %}

{% set code_example_single =
"&lt;div x-data=&quot;{ shown: false }&quot;
    x-intersect.half.once=&quot;shown = true&quot;
    :class=&quot;shown && 'animate-fade-in-right'&quot;
    class=&quot;opacity-0 [animation-delay:150ms]&quot;
&gt;
    content
&lt;/div&gt;"
%}

{% set code_example_siblings =
"&lt;div x-data=&quot;{ shown: false }&quot;
    x-intersect.half.once=&quot;shown = true&quot;
&gt;
    {% for item in items %}
        &lt;div :class=&quot;shown && 'animate-fade-in-right'&quot;
            class=&quot;opacity-0 [animation-delay:{{ 150 * loop.index0 }}ms]&quot;
        &gt;
            {{ item }}
        &lt;/div&gt;
    {% endfor %}
&lt;/div&gt;"
%}

{{ section.start(gray_background, first, last, 'space-y-8') }}
    <h2>Animations</h2>
    <div class="flex gap-16">

        <div x-data="{ shown: false }" x-intersect.half.once="shown = true" class="w-64 mt-4">
            {% for item in [
                'Apples',
                'Bananas',
                'Cashews',
                'Spinach',
                'Zucchini',
            ] %}
                <h5 :class="shown && 'animate-fade-in-right'" class="opacity-0 [animation-delay:{{ 150 * loop.index0 }}ms] border-b-2 pb-2 pt-6 first:pt-0">
                    {{ item }}
                </h5>
            {% endfor %}

            <ol class="list-disc mt-12">
                <li>
                    {{ link_inline('https://www.experian.com/corporate/experian-corporate-social-responsibility/', 'examples', true) }}
                </li>
                <li>
                    {{ link_inline('https://snowdonia.gov.wales/discover/landscapes-and-wildlife/', 'examples for menus', true) }}
                </li>
            </ol>
        </div>

        <div class="space-y-8">
            <div class="space-y-2">
                <h3>Single item</h3>
                {{ code.simple(code_example_single) }}
            </div>
            <div class="space-y-2">
                <h3>List of items</h3>
                {{ code.simple(code_example_siblings) }}
            </div>
        </div>

    </div>
{{ section.end() }}
