{% from '@macros/components-global.twig' import link_block, link_inline %}
{% import '@macros/code.twig' as code %}
{% import '@macros/section.twig' as section %}

{{ section.start(gray_background, first, last) }}
    <div class="grid grid-cols-[max-content_1fr] items-center gap-x-12 gap-y-4 w-fit">
        {{ link_block('https://example.com', 'Arrow to the left', 'l') }}
        {{ code.simple("{{ link_block('url', 'Label', 'l') }}") }}

        {{ link_block('https://example.com', 'Arrow to the right', 'r') }}
        {{ code.simple("{{ link_block('url', 'Label', 'r') }}") }}

        {{ link_inline('https://example.com', 'internal inline link', false) }}
        {{ code.simple("{{ link_inline('url', 'Label', false) }}") }}

        {{ link_inline('https://example.com', 'external inline link', true) }}
        {{ code.simple("{{ link_inline('url', 'Label', true) }}") }}
    </div>
{{ section.end() }}
