{% import '@macros/code.twig' as code %}
{% from '@macros/components-global.twig' import link_inline %}
{% import '@macros/section.twig' as section %}

{% set text_types = [
    { title: 'Paragraph',    class: '',                            short_sample: false },
    { title: 'Article',      class: 'text-article',                short_sample: false },
    { title: 'Widget Text',  class: 'text-widget',                 short_sample: true },
    { title: 'Widget Links', class: 'text-widget-link',            short_sample: true },
    { title: 'Large Links',  class: 'text-link-large',             short_sample: true },
    { title: 'Subtitles',    class: 'text-subtitle',               short_sample: true },
    { title: 'Details',      class: 'text-detail',                 short_sample: true },
    { title: 'Eyebrows',     class: 'text-eyebrow text-green-500', short_sample: true },
    { title: 'Impact Text',  class: 'text-impact',                 short_sample: true },

] %}

{{ section.start(gray_background, first, last, 'flex flex-col gap-12') }}
    {% for type in text_types %}
        <div class="flex flex-col gap-1">
            <div class="-ml-8">
                {{ code.title_with_classes(type.title, 'p', type.class) }}
            </div>

            {% if type.short_sample %}
                <p class="{{ type.class }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            {% else %}
                <p class="{{ type.class }}">Lots of example text. {{ link_inline('https://example.com', 'an internal inline link', false) }} lorem ipsum {{ link_inline('https://example.com', 'an external link', true) }} lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
            {% endif %}
        </div>
    {% endfor %}
{{ section.end() }}
