{% set breakpoint_pairs = [
    {
        container: { tag: 'xl', width: 'calc(1200px + 3rem)', max_width_class: 'max-w-screen-xl' },
        content: { tag: 'xl-content', width: '1200px', max_width_class: 'max-w-screen-xl-content' },
    },
    {
        container: { tag: 'lg', width: 'calc(991px + 3rem)', max_width_class: 'max-w-screen-lg' },
        content: { tag: 'lg-content', width: '991px', max_width_class: 'max-w-screen-lg-content' },
    },
    {
        container: { tag: 'md', width: 'calc(768px + 3rem)', max_width_class: 'max-w-screen-md' },
        content: { tag: 'md-content', width: '768px', max_width_class: 'max-w-screen-md-content' },
    },
    {
        container: { tag: 'sm', width: 'calc(374px + 3rem)', max_width_class: 'max-w-screen-sm' },
        content: { tag: 'sm-content', width: '374px', max_width_class: 'max-w-screen-sm-content' },
    },
] %}

<div class="bg-blue-950 py-17.5 mb-8.75 flex flex-col items-center gap-6">
	{% for breakpoints in breakpoint_pairs %}
		<button x-data @click="() => navigator.clipboard.writeText('{{ breakpoints.container.max_width_class }}')"
            class="{{ breakpoints.container.max_width_class }} w-full pt-2 flex flex-col gap-2 items-center text-white border-x-2 border-white bg-white bg-opacity-5"
        >
            <span class="bg-blue-400 bg-opacity-50 py-2 px-12 rounded font-mono text-2xl">{{ breakpoints.container.tag }}</span>

			<span class="w-full flex flex-col items-center font-mono text-sm">
                <span class="w-full pt-8 flex flex-col items-center gap-3 bg-blue-400 opacity-80 hover:opacity-100 bg-opacity-0 hover:bg-opacity-20">
                    <span class="self-start ml-12">container: {{ breakpoints.container.width }}</span>
                    <span class="block h-0 w-full {{ breakpoints.container.max_width_class }} border border-dotted border-white"></span>
                </span>

                <span class="w-full pt-10 flex flex-col items-center gap-3 bg-blue-400 opacity-80 hover:opacity-100 bg-opacity-0 hover:bg-opacity-20">
                    <span class="self-start ml-12">content: {{ breakpoints.content.width }}</span>
                    <span class="block h-0 w-full {{ breakpoints.content.max_width_class }} border border-dotted border-white"></span>
                </span>
			</span>
		</button>
	{% endfor %}
</div>
