{# The default values are for small, primary buttons #}
{% set background = 'bg-blue-400 hover:bg-blue-950' %}
{% set padding = 'py-4 px-10' %}
{% set rounding = 'rounded-3xl' %}
{% set text_size = 'text-sm leading-tight' %}
{% set text_color = 'text-blue-950 hover:text-white' %}
{% set font_weight = 'font-bold' %}

{% if size == 'm' %}
    {% set padding = 'py-4 px-15' %}
    {% set text_size = 'text-xl leading-tight' %}
    {% set font_weight = 'font-semibold' %}
{% elseif size == 'l' %}
    {% set padding = 'py-5 px-15' %}
    {% set rounding = 'rounded-6xl' %}
    {% set text_size = 'text-6xl leading-tight' %}
    {% set font_weight = 'font-semibold' %}
{% endif %}

{% if not primary %}
    {% set background = 'bg-cyan-50 hover:bg-blue-400' %}
{% endif %}

{# TODO: Add animation/transition #}
{# TODO: Add on-click UI change #}

<button class="{{ background }} {{ padding }} {{ rounding }} {{ text_size }} {{ text_color }} {{ font_weight }} stroke-blue-950 hover:stroke-white flex gap-2">
    <span>{{ text }}</span>
    {% include '@assets/link-icon.svg' %}
</button>
