{% import '@macros/section.twig' as section %}
{% import '@macros/shapes.twig' as shapes %}

{{ section.start(gray_background, first, last) }}
<div class="flex gap-2 justify-center">
    {{ shapes.circle('bg-blue-950') }}
    {{ shapes.circle('bg-blue-400') }}
    {{ shapes.circle('bg-blue-800') }}
    {{ shapes.circle('bg-green-500') }}
    {{ shapes.circle('bg-cyan-50', true) }}
    {{ shapes.circle('bg-gray-50', true) }}
</div>
{{ section.end() }}
