{% from '@macros/production.twig' import label %}
{% import '@macros/code.twig' as code %}
{% import '@macros/section.twig' as section %}

{{ section.start(gray_background, first, last) }}
    <div class="flex gap-12 items-center">
        {{ label('Label for News') }}
        {{ code.simple("{{ label('Label for News') }}") }}
    </div>
{{ section.end() }}
